# Environment variables
.env

# IntelliJ IDEA
/.idea/
/*.iml
/out/

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/build/

# Maven / Gradle
/target/
/build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Kotlin
.kotlin

# VS Code
.vscode/

# Mac OS
.DS_Store

# Compiled class files
*.class
